<!-- ici les composants statiques + dynamiques -->
<!-- <h1>titre</h1> -->
<header class="fixed-top">
  <!-- instance de header -->
  <app-header></app-header>
  <!-- ici d'autres composants -->

  <!-- ajouter un bouton
  au clic, on veut ajouter la classe close-aside à main
  -->
  <!-- <button (click)="onClick()">Afficher/Supprimer</button> -->
<button (click)="onClick()">
  <app-icon-nav *ngIf='!open'></app-icon-nav>
  <app-icon-close *ngIf='open'></app-icon-close>
</button>

</header>
<!-- <main  -->
<!-- close-aside -->
<main [ngClass]="{'close-aside': !open }">
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <!-- instance de nav -->
      <!-- mettre directement des liens -->
      <app-nav></app-nav>
    </div>
  </aside>
  <div class="page">
    <div class="contents">
     
      <!-- ici composants dynamiques -->
      <!-- instance de router-outlet -->
      <!-- ici affichage de page-list-orders ou edit-order ou add-order -->
      <!-- ici affichage du component list-orders ou d'un autre componant -->
      <router-outlet></router-outlet>
      <!--  -->
    </div>
    <footer>
      <!-- instance de footer -->
      <app-footer></app-footer>
    </footer>
  </div>
</main>
